.leaderboardPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  padding-bottom: var(--padding-vertical);

  @include mobile {
    padding-bottom: 0;
  }

  .title {
    padding: 16px 32px 12px;

    @include mobile {
      padding: 12px 36px 12px;
    }

    @include tablet {
      padding: 12px 40px 12px;
    }

    @include laptop {
      padding: 12px 48px 12px;
    }

    @include desktop {
      padding: 16px 48px 16px;
    }
  }

  .lineHorizontal {
    left: calc(var(--padding-horizontal) * -1);
    right: calc(var(--padding-horizontal) * -1);
    width: calc(100% + var(--padding-horizontal) * 2);
  }

  .leaderboardWrapperWrapper {
    --table-head-height: 32px;

    flex: 1;
    overflow: hidden;
    position: relative;

    .leaderboardHeaderLine {
      position: absolute;
      top: var(--table-head-height);
    }
  }

  .leaderboardWrapper {
    position: relative;
    overflow: auto;
    height: 70vh;
    width: 100%;
    padding: 0;

    &::-webkit-scrollbar {
      width: 2px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(var(--current-color), 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(var(--current-color), 1);
      border-radius: 0px;
    }
  }

  .leaderboard {
    width: 100%;
    border-collapse: collapse;
  }

  .leaderboardBody {
    position: relative;
    padding: 0;
  }

  .row {
    width: 100%;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(var(--current-color), 0.1);
    }
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-color);
  }

  .headerItem {
    text-align: left;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-shadow: rgba(var(--current-color), 0.6) 0 0 8px;

    @include tablet {
      font-size: 11px;
      letter-spacing: 0.12em;
    }

    @include laptop {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @include desktop {
      font-size: 12px;
    }

    &:last-of-type {
      text-align: right;
    }
  }

  // tr:first-of-type {
  //   .rowItem {
  //     padding-top: 1rem;

  //     @include laptop {
  //       padding-top: 1.5rem;
  //     }

  //     @include desktop {
  //       padding-top: 2rem;
  //     }
  //   }
  // }

  .rowItem {
    width: auto;
    min-width: auto;
    padding: 8px 1rem;
    text-align: left;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-shadow: rgba(var(--current-color), 0.6) 0 0 8px;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;

    @include tablet {
      font-size: 12px;
      letter-spacing: 0.12em;
      padding: 8px 1rem;
    }

    @include laptop {
      padding: 8px 1.5rem;
    }

    @include desktop {
      font-size: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &:last-of-type {
      text-align: right;
    }

    .multipliers {
      display: flex;
      align-items: center;
      gap: 1px;
    }

    &:has(.multipliers) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .learboardButton {
    position: absolute;
    height: 100%;
    width: var(--padding-horizontal);
    background-color: rgba(var(--current-color), 0.1);
    color: rgb(var(--current-color));
    font-family: var(--font-dm-mono);
    font-size: 11px;
    letter-spacing: 0.08em;
    line-height: 24px;
    z-index: 10;
    top: var(--table-head-height);
    transition: background-color 0.1s ease-in-out;

    &.leaderboardLeftButton {
      left: 0;
    }

    &.leaderboardRightButton {
      right: 0;
    }

    &:focus-visible,
    &:global(.focused) {
      background-color: rgba(var(--current-color), 0.2);
    }
  }

  .recentJoinMarquee {
    margin: -0.5rem var(--padding-horizontal) var(--padding-vertical) var(--padding-horizontal);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent 100%);

    .recentJoin {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.12em;
      margin-right: 2rem;
      text-shadow: rgba(var(--current-color), 0.6) 0 0 8px;

      .recentJoinSince {
        opacity: 0.4;
      }
    }
  }

  .footerTopLine {
    position: absolute;
    left: 0;
    bottom: calc(var(--footer-height) + var(--padding-vertical));
  }

  .loading {
    text-align: center;
    padding: 1rem;
    color: var(--text-color);
  }

  .leaderboardWrapper {
    max-height: 70vh; // o el valor que prefieras
    overflow-y: auto;
    position: relative;
  }
}
