.leaderboardPage {
  --table-head-height: 32px;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  padding-bottom: var(--padding-vertical);

  @include mobile {
    padding-bottom: 0;
  }

  .title {
    padding: 16px 32px 12px;

    @include mobile {
      padding: 8px 36px 8px;
    }

    @include tablet {
      padding: 8px 40px 8px;
    }

    @include laptop {
      padding: 10px 48px 10px;
    }

    @include desktop {
      padding: 12px 64px 12px;
    }
  }

  .lineHorizontal {
    left: calc(var(--padding-horizontal) * -1);
    right: calc(var(--padding-horizontal) * -1);
    width: calc(100% + var(--padding-horizontal) * 2);
  }

  .leaderboardWrapperWrapper {
    flex: 1;
    overflow: hidden;
    position: relative;

    .leaderboardHeaderLine {
      position: absolute;
      top: 2rem;
    }
  }

  .leaderboardWrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    margin: 0 var(--padding-horizontal);
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    &::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
    }

    &::after {
      content: "";
      display: block;
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2rem;
      width: 100%;
      background: linear-gradient(to bottom, transparent 0%, var(--background-color) 100%);
      z-index: 1;
    }
  }

  .leaderboard {
    width: 100%;

    .header {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--background-color);
    }

    .headerItem {
      text-align: left;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.08em;
      text-shadow: rgba(var(--current-color), 0.6) 0 0 8px;

      @include tablet {
        font-size: 11px;
        letter-spacing: 0.12em;
      }

      @include laptop {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      @include desktop {
        font-size: 12px;
      }

      &:last-of-type {
        text-align: right;
      }
    }

    tr:first-of-type {
      .rowItem {
        padding-top: 1rem;

        @include laptop {
          padding-top: 1.5rem;
        }

        @include desktop {
          padding-top: 2rem;
        }
      }
    }

    .rowItem {
      width: auto;
      min-width: auto;
      padding: 4px 1rem;
      text-align: left;
      font-size: 11px;
      line-height: 24px;
      letter-spacing: 0.08em;
      text-shadow: rgba(var(--current-color), 0.6) 0 0 8px;
      white-space: nowrap;
      vertical-align: middle;
      position: relative;

      @include tablet {
        font-size: 12px;
        letter-spacing: 0.12em;
        padding-top: 6px;
        padding-bottom: 6px;
      }

      @include laptop {
        font-size: 14px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 8px;
        padding-bottom: 8px;
      }

      @include desktop {
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &:last-of-type {
        text-align: right;
      }

      .multipliers {
        display: flex;
        align-items: center;
        gap: 1px;
      }

      &:has(.multipliers) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .recentJoinMarquee {
    margin: -0.5rem var(--padding-horizontal) var(--padding-vertical) var(--padding-horizontal);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent 100%);

    .recentJoin {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.12em;
      margin-right: 2rem;
      text-shadow: rgba(var(--current-color), 0.6) 0 0 8px;

      .recentJoinSince {
        opacity: 0.4;
      }
    }
  }

  .footerTopLine {
    position: absolute;
    left: 0;
    bottom: calc(var(--footer-height) + var(--padding-vertical));
  }
}
