.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  @include mobile {
    width: min(688px, calc(100vw - var(--padding-horizontal) * 4 - var(--padding) * 2 - 4px));
  }
}

.tabs {
  border: 1px solid var(--current-shadow);
  padding: 3px;
  display: flex;
  gap: 3px;
  flex-direction: column;

  @include mobile {
    flex-direction: row;
  }

  .tab {
    height: 64px;
    min-height: 64px;
    flex: 1;
    font-size: 24px;
    line-height: 1.1;
    font-family: var(--font-youth);
    text-transform: uppercase;
    min-width: fit-content;
    letter-spacing: 0.02em;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-shadow: 0 0 8px rgb(from var(--current-shadow) r g b / 0.6);
    border: 1px solid rgba(var(--current-color), 1);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(var(--current-color), 1);
      border-radius: 2px;
      pointer-events: none;
      z-index: 2;
      opacity: 0;
      transition: all 0.1s ease-in-out;
    }

    &:focus-visible::before,
    &:global(.focused)::before {
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border-width: 1px;
      opacity: 1;
    }

    .icon {
      width: 48px;
      height: 48px;
      background-color: rgba(var(--current-color), 0.05);
      border: 1px solid rgba(var(--current-color), 0.1);
    }

    &.active {
      color: black;
      background-color: rgba(var(--current-color), 1);

      .icon {
        color: rgba(var(--current-color), 1);
        background-color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.info {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;

  @include mobile {
    flex-direction: row;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 4px;
    background-color: rgba(var(--current-color), 1);
    z-index: 1;
    transform: translate(1px, -50%);

    @include mobile {
      left: 0;
      right: 0;
      margin: auto;
      transform: translate(-0.5px, -50%);
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: rgba(var(--current-color), 1);
    z-index: 1;
    transform: translate(-2px, 1px);

    @include mobile {
      left: 0;
      right: 0;
      margin: auto;
      transform: translate(-0.5px, 50%);
    }
  }

  .infoSection {
    flex: 1;
    height: 95px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(var(--current-color), 0.05);
    border: 1px dashed rgba(var(--current-color), 0.15);
    position: relative;

    .label {
      font-family: var(--font-dm-mono);
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.04em;
      text-shadow: 0 0 8px rgb(from var(--current-shadow) r g b / 0.6);
    }

    .value {
      font-family: var(--font-youth);
      font-size: 32px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      text-shadow: 0 0 8px rgb(from var(--current-shadow) r g b / 0.6);
    }

    &:first-of-type {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 4px;
        background-color: rgba(var(--current-color), 1);
        z-index: 1;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 4px;
        height: 4px;
        background-color: rgba(var(--current-color), 1);
        z-index: 1;
        transform: translate(-3px, 50%);

        @include mobile {
          transform: translate(-50%, 50%);
        }
      }
    }

    &:last-of-type {
      transform: translateY(-1px);

      @include mobile {
        transform: translateX(-1px);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 4px;
        background-color: rgba(var(--current-color), 1);
        z-index: 1;
        transform: translate(3px, -3px);

        @include mobile {
          transform: translate(50%, -50%);
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 4px;
        height: 4px;
        background-color: rgba(var(--current-color), 1);
        z-index: 1;
        transform: translate(50%, 50%);
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;

  .footerRow {
    display: flex;
    justify-content: space-between;

    span {
      color: rgba(var(--current-color), 1);
      font-family: var(--font-dm-mono);
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.04em;
      font-weight: 500;
      text-shadow: 0 0 8px rgb(from var(--current-shadow) r g b / 0.6);
    }

    span:first-of-type {
      opacity: 0.4;
    }
  }

  .dots {
    flex: 1;
    align-self: flex-end;
    margin: 5px 10px;
    height: 2px;
    background: repeating-linear-gradient(
      to right,
      rgba(var(--current-color), 0.2),
      rgba(var(--current-color), 0.2) 2px,
      transparent 2px,
      transparent 20px
    );
  }
}
