.button {
  color: rgb(var(--current-color));
  background: rgba(var(--current-color), 0.05);
  border: rgba(var(--current-color), 0.1) 1px solid;
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;

  &:hover {
    background: rgba(var(--current-color), 0.1);

    & :not(.corner) {
      animation: var(--animation-blink);
    }

    .corner {
      width: 10px;
      height: 10px;
      filter: drop-shadow(0 0 8px rgba(var(--current-color), 0.6));
    }

    &:not(:focus) {
      .corner:nth-of-type(2) {
        top: 0;
        left: 0;
        transform: translate(-3.5px, -3.5px);
      }

      .corner:nth-of-type(3) {
        top: 0;
        right: 0;
        transform: translate(3.5px, -3.5px) rotate(90deg);
      }

      .corner:nth-of-type(4) {
        bottom: 0;
        left: 0;
        transform: translate(-3.5px, 3.5px) rotate(-90deg);
      }

      .corner:nth-of-type(5) {
        bottom: 0;
        right: 0;
        transform: translate(3.5px, 3.5px) rotate(180deg);
      }
    }
  }

  &:active {
    .corner:nth-of-type(2) {
      top: 0;
      left: 0;
      transform: translate(0.5px, 0.5px);
    }

    .corner:nth-of-type(3) {
      top: 0;
      right: 0;
      transform: translate(-0.5px, 0.5px) rotate(90deg);
    }

    .corner:nth-of-type(4) {
      bottom: 0;
      left: 0;
      transform: translate(0.5px, -0.5px) rotate(-90deg);
    }

    .corner:nth-of-type(5) {
      bottom: 0;
      right: 0;
      transform: translate(-0.5px, -0.5px) rotate(180deg);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-width: 0px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }

  &:focus-visible::before,
  &:global(.focused)::before {
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-width: 1px;
    opacity: 1;
  }

  &[disabled] {
    pointer-events: none;

    .corner {
      opacity: 0.2;
    }

    .text {
      opacity: 0.15;
    }
  }

  &.highlight {
    flex-shrink: 0;
    min-width: fit-content;
    background: rgba(var(--current-color), 0.15);

    &:hover,
    &:focus {
      background: rgba(var(--current-color), 0.15);
    }

    .corner {
      display: inline-block;
    }

    .text {
      font-size: 18px;
      list-style: 1;
      letter-spacing: 0em;
      font-family: var(--font-youth);
      padding: 12px;
    }
  }

  &.subtle {
    flex-shrink: 0;
    min-width: fit-content;
    background: rgba(var(--current-color), 0.05);

    &:hover,
    &:focus {
      background: rgba(var(--current-color), 0.15);
    }

    .corner {
      display: inline-block;
    }

    .text {
      font-size: 18px;
      list-style: 1;
      letter-spacing: 0em;
      font-family: var(--font-youth);
      padding: 12px;
    }
  }

  .text {
    font-family: var(--font-dm-mono);
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    filter: drop-shadow(0 0 8px rgba(var(--current-color), 0.6));
    padding: 8px;
  }

  .corner {
    display: none;
    position: absolute;
    width: 8px;
    height: 8px;
    transition: transform 0.2s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: currentColor;
      z-index: 1;
    }

    &:nth-of-type(2) {
      top: 0;
      left: 0;
      transform: translate(-1px, -1px);
    }

    &:nth-of-type(3) {
      top: 0;
      right: 0;
      transform: translate(1px, -1px) rotate(90deg);
    }

    &:nth-of-type(4) {
      bottom: 0;
      left: 0;
      transform: translate(-1px, 1px) rotate(-90deg);
    }

    &:nth-of-type(5) {
      bottom: 0;
      right: 0;
      transform: translate(1px, 1px) rotate(180deg);
    }
  }
}
