.medalWrapper {
  isolation: isolate;
  position: relative;
  display: grid;
  place-items: center;

  &.wrapperBase {
    width: pxClamp(20, 36, 36);
  }

  &.wrapperWWW {
    isolation: isolate;
    position: relative;
    display: grid;
    place-items: center;
    width: pxClamp(21.9, 38, 38);
  }
}

.medalBackground {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  margin: auto;
}
