.wrapper {
  isolation: isolate;
  position: relative;
  display: grid;
  place-items: center;
  position: relative;
  animation: blink 0.5s forwards ease;

  &.wrapperBase {
    width: pxClamp(20, 36, 36);
    aspect-ratio: 1;
  }

  &.wrapperWWW {
    isolation: isolate;
    position: relative;
    display: grid;
    place-items: center;
    width: pxClamp(21.9, 38, 38);
    aspect-ratio: 1;
  }

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: translate(1px, -1px);
  }
  20% {
    opacity: 0.4;
    transform: translate(0px, 0px);
  }
  40% {
    opacity: 0.1;
    transform: translate(-1px, 1px);
  }
  60% {
    opacity: 0.8;
    transform: translate(0px, 0px);
  }
  80% {
    opacity: 0.4;
    transform: translate(1px, -1px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.medalBackground {
  position: absolute;
  z-index: -1;
  width: 100% !important;
  height: 100% !important;
  margin: auto;
}
