.wrapper {
  isolation: isolate;
  position: relative;
  display: grid;
  place-items: center;

  &.wrapperBase {
    width: pxClamp(20, 36, 36);
  }

  &.wrapperWWW {
    isolation: isolate;
    position: relative;
    display: grid;
    place-items: center;
    width: pxClamp(21.9, 38, 38);
  }
}

.medalWrapper {
  width: 100%;
  height: 100%;
  animation: blink 0.5s forwards ease;

  @keyframes blink {
    0% {
      opacity: 0;
      transform: translate(1px, -1px);
    }
    20% {
      opacity: 0.4;
      transform: translate(0px, 0px);
    }
    40% {
      opacity: 0.1;
      transform: translate(-1px, 1px);
    }
    60% {
      opacity: 0.8;
      transform: translate(0px, 0px);
    }
    80% {
      opacity: 0.4;
      transform: translate(1px, -1px);
    }
    100% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
}

.medalBackground {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  margin: auto;
}
