.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  @include mobile {
    height: fit-content;
    width: min(536px, calc(100vw - var(--padding-horizontal) * 4 - var(--padding) * 2 - 4px));
  }

  .check {
    border-radius: 50%;
    border: 1px solid rgb(var(--current-color));
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: var(--animation-blink);

    .checkIcon {
      width: 80px;
      height: 80px;
    }
  }

  .title {
    font-family: var(--font-youth);
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-shadow: 0 0 8px rgb(from var(--current-shadow) r g b / 0.6);
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .subtitle {
    font-family: var(--font-youth);
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-shadow: 0 0 8px rgb(from var(--current-shadow) r g b / 0.6);
    margin-bottom: 40px;
    padding: 0 1rem;

    @include mobile {
      padding: 0;
      min-width: max-content;
    }
  }

  .stakedWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;

    .dots {
      width: 1px;
      height: 96px;
      position: relative;

      @include mobile {
        width: 80px;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: rgba(var(--current-color), 1);
      }

      &::before {
        top: -1.5px;
      }
      &::after {
        bottom: -1.5px;
      }

      &:first-child::before,
      &:first-child::after {
        right: 0;
        transform: translateX(2.5px);
      }
      &:last-child::before,
      &:last-child::after {
        left: 0;
        transform: translateX(-2.5px);
      }

      .dot {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: rgba(var(--current-color), 1);
        pointer-events: none;
      }
    }

    .staked {
      height: 96px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(var(--current-color), 0.05);
      border: 1px solid rgba(var(--current-color), 0.1);
      padding: 0.5rem;

      @include mobile {
        width: 340px;
      }

      .icon {
        width: 48px;
        height: 48px;
        background-color: rgba(var(--current-color), 0.05);
        border: 1px solid rgba(var(--current-color), 0.1);
        margin-right: 16px;
      }

      .text {
        font-family: var(--font-neue);
        font-size: 28px;
        line-height: 36px;
        transform: translateY(2px);
        letter-spacing: 0.16em;
        text-transform: uppercase;
        text-shadow: 0 0 4px var(--current-shadow);
        font-variant-numeric: tabular-nums;
        font-feature-settings: "tnum";
      }
    }
  }

  .closeButton {
    font-family: var(--font-dm-mono);
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 12px;
    line-height: 16px;
    text-shadow: 0 0 8px rgb(from var(--current-shadow) r g b / 0.6);
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: "←";
      font-family: var(--font-dm-mono);
      font-size: 12px;
      line-height: 1;
      transition: transform 0.1s ease-in-out;
    }

    &:hover::before {
      transform: translateX(-5px);
    }
  }

  .numberWrapper {
    position: relative;
    display: inline-block;

    .placeholder {
      opacity: 0;
      user-select: none;
    }

    .animatedNumber {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
