@import "./_reset.scss";
@import "./_functions.scss";
@import "./easings.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: 255, 255, 255; // #ffffff
  --black: 0, 0, 0; // #000000
  --background: var(--black);

  --stereo: 172, 253, 90; // #acfd5a
  --cyber: 22, 22, 22; // #161616

  --current-color: var(--stereo);
  --primary-color: rgb(var(--current-color));
  --background-color: rgb(var(--background));

  --console-margin-offset: 0.5rem;
  --header-height: 48px;
  --variations-height: 32px;
  --footer-height: 72px;
  --padding-vertical: 12px;
  --padding-horizontal: 1rem;

  --animation-blink: blink 0.3s forwards ease-in-out;

  @include mobile {
    --header-height: 40px;
    --footer-height: 38px;
    --variations-height: 24px;
    --padding-vertical: 1rem;
    --padding-horizontal: 1.5rem;
  }

  @include laptop {
    --variations-height: 40px;
    --padding-vertical: 1.5rem;
  }

  @include desktop {
    --footer-height: 32px;
  }
}

html {
  font-family: var(--font-dm-mono);
  font-weight: 400;
  text-align: center;
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
  background-color: rgb(var(--black));
}

body,
#__next {
  min-height: 100dvh;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

*::selection {
  background-color: rgba(var(--current-color), 0.2);
  color: var(--primary-color);
}

svg.icon {
  path[fill],
  rect[fill],
  circle[fill] {
    fill: currentColor;
  }

  path[stroke],
  rect[stroke],
  circle[stroke] {
    stroke: currentColor;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: none;
}

/** Lenis **/
html {
  .lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
