@import "./_reset.scss";
@import "./_functions.scss";
@import "./easings.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --layout-padding-x: 16px;
  --primary-color: #000000;
  --secondary-color: #6e6e6e;
  --tertiary-color: #e0e0e0;
  --background: #ffffff;
  --foreground: #000000;

  @include tablet {
    --layout-padding-x: 24px;
  }

  @include laptop {
    --layout-padding-x: 32px;
  }

  @include desktop {
    --layout-padding-x: 112px;
  }
}

.dark {
  --primary-color: #ffffff;
  --secondary-color: #757575;
  --tertiary-color: #272727;
  --background: #000000;
  --foreground: #ffffff;
}

.fluid-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding-x);
  padding-right: var(--layout-padding-x);
}

html {
  font-family: var(--font-suisse);
  font-weight: 400;
  text-align: center;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
}

body,
#__next {
  min-height: 100dvh;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

*::selection {
  background-color: var(--foreground);
  color: var(--background);
}

svg.icon {
  path[fill],
  rect[fill],
  circle[fill] {
    fill: currentColor;
  }

  path[stroke],
  rect[stroke],
  circle[stroke] {
    stroke: currentColor;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: none;
}

/** Lenis **/
html {
  .lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
