.wrapper {
  background-color: var(--background-color);
  height: 100vh;
  height: 100dvh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;

  .menuBackground {
    --item-height: 50px;
    --free-space: calc(100vh - var(--content-height));

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: var(--free-space);
    height: auto;
    width: 100%;
  }

  .nav {
    flex: 1;
    overflow-y: auto;

    ul {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  .overlay {
    background-color: rgba(var(--black), 0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .copyright {
    flex: 0;
    padding: 1rem;
    margin: 0 auto;
    font-family: var(--font-dm-mono);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.12em;
    color: var(--text-color);
    opacity: 0.5;
    position: relative;
    z-index: 110;
    width: 100%;

    &.addBorder {
      opacity: 0.1;
      border-top: 1px solid rgba(var(--gray-700), 1);
    }
  }
}

.menuItem {
  height: 50px;
  border-bottom: 1px solid rgba(var(--gray-700), 0.35);
  position: relative;
  background-color: rgba(var(--black), 0.9);

  &.isChild {
    border-bottom: 1px solid rgba(var(--gray-700), 0.15);

    &:last-of-type {
      border-bottom: 1px solid rgba(var(--gray-700), 0.35);
    }
  }

  &.isFather {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(var(--black), 1);
  }

  .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 20px 28px;
    width: 100%;
    gap: 12px;

    &.notReady {
      opacity: 0.4;
    }
  }

  .text {
    font-family: var(--font-dm-mono);
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.12em;
    font-weight: 400;
    color: var(--text-color);
    text-shadow: rgba(var(--gray-50), 0.3) 0 0 8px;

    &.internal {
      opacity: 0.6;
    }
  }

  .icon {
    width: 14.71px;
    margin-left: auto;
  }

  .badge {
    margin-left: auto;
  }

  .iconWrapper {
    width: 20px;
    height: 20px;
    position: relative;
    display: grid;
    place-content: center;
    border-radius: 2px;
    background-color: rgba(var(--accent), 0.1);
    border: 1px solid rgb(var(--accent));
    color: rgb(var(--accent));

    .blurEffect {
      position: absolute;
      left: -1.5px;
      top: -1.5px;
      width: 27px;
      height: 23px;
      background-color: rgb(var(--accent));
      border-radius: 15px;
      transform: translate(-3px, -1.5px);
      filter: blur(10px);
      z-index: 10;
      opacity: var(--opacity);
    }

    .icon {
      width: 12px;
      height: 12px;
    }
  }
}

.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 14px;
  height: 8px;

  .line {
    height: 1.5px;
    width: 14px;
    background-color: var(--primary-color);
    transition: transform 0.2s var(--ease-in-out-quad);

    &.open:first-of-type {
      transform: translateY(3.25px) rotate(calc(45deg + 90deg));
    }
    &.open:last-of-type {
      transform: translateY(-3.25px) rotate(calc(-45deg - 90deg));
    }
  }
}
