.marquee {
  display: flex;
  overflow: hidden;
  will-change: transform;

  @include reduced-motion {
    --speed: 0.5 !important;
  }

  .inner {
    display: flex;
    white-space: nowrap;
    align-items: center;
    flex-shrink: 0;
  }

  &.inverted {
    .inner {
      animation: marquee-inverted var(--duration) linear infinite;
      animation-play-state: var(--animation-status);
    }
  }

  @keyframes marquee {
    0% {
      transform: translate3d(calc(var(--offset) * -1), 0, 0);
    }

    100% {
      transform: translate3d(calc(-100% - var(--offset)), 0, 0);
    }
  }

  @keyframes marquee-inverted {
    0% {
      transform: translate3d(calc(-100% - var(--offset)), 0, 0);
    }

    100% {
      transform: translate3d(calc(var(--offset) * -1), 0, 0);
    }
  }
}
