.header {
  height: var(--header-height);
  min-height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: stretch;
  margin: 0;
  justify-content: space-between;

  @include mobile {
    margin: 1rem 1.5rem 0 1.5rem;
    width: calc(100% - 3rem);
    justify-content: flex-start;
  }

  @include laptop {
    margin: 1.5rem 1.5rem 0 1.5rem;
  }

  .nav {
    display: none;

    @include mobile {
      margin-left: 8px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}

.linkLogo {
  width: 48px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: none;
  isolation: isolate;
  background: repeating-linear-gradient(
    -45deg,
    rgba(var(--current-color), 0.05),
    rgba(var(--current-color), 0.05) 6px,
    rgb(var(--background), 1) 6px,
    rgb(var(--background), 1) 12px
  ) !important;

  @include mobile {
    padding: 8px 14px;
  }

  @include tablet {
    width: 139px;
  }

  @include laptop {
    width: 172px;
  }

  .logo {
    height: 24px;
    width: auto;
    filter: drop-shadow(0px 0px 6.62px rgba(var(--current-color), 0.6));

    @include mobile {
      filter: drop-shadow(0px 0px 7.484px rgba(var(--current-color), 0.6));
    }

    @include tablet {
      height: auto;
      width: 138px;
    }

    @include laptop {
      width: 153px;
    }

    @include desktop {
      height: 18px;
      width: auto;
    }
  }

  .lettersLogo {
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    svg {
      height: 100%;
      width: auto;
      filter: drop-shadow(0px 0px 7.48px var(--current-shadow));
    }
  }

  .corner {
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    transition: transform 0.2s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: currentColor;
      z-index: 1;
    }

    &:nth-of-type(1) {
      top: 0;
      left: 0;
    }

    &:nth-of-type(2) {
      top: 0;
      right: 0;
      transform: rotate(90deg);
    }

    &:nth-of-type(3) {
      bottom: 0;
      left: 0;
      transform: rotate(-90deg);
    }

    &:nth-of-type(4) {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }
}

.menuTrigger {
  position: relative;
  z-index: 50;
}

.mobileHome {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
}

.button {
  flex: 1;
  height: 100%;
  max-width: min(100%, 250px);
  background-color: unset;
}

.meowButton {
  @include mobile {
    background-color: unset !important;
  }
}

.meowLinkLogoMobile {
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }

  &:focus-visible::after,
  &:global(.focused)::after {
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-width: 1px;
    opacity: 1;
  }

  .logo {
    height: 24px;
    padding: 0 1rem;
    position: relative;
    filter: drop-shadow(0px 0px 6.62px rgba(var(--current-color), 0.6));
  }

  .logoBackground {
    height: 24px;
    padding: 0 1rem;
    position: absolute;
  }
}
