.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  min-height: 100%;
  align-items: stretch;
  padding: var(--padding);

  @include mobile {
    height: fit-content;
    max-height: calc(100vh - 2rem - var(--padding) * 2);
  }
}

.content {
  border: 1px solid var(--current-shadow);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  min-height: 100%;
  padding: var(--padding);
  overflow-y: auto;

  @include mobile {
    align-items: stretch;
  }

  &::-webkit-scrollbar {
    transform: translateX(var(--padding));
    width: 2px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    transform: translateX(var(--padding));
    background: rgba(var(--current-color), 0.1);
  }

  &::-webkit-scrollbar-thumb {
    transform: translateX(var(--padding));
    background: rgba(var(--current-color), 1);
    border-radius: 0px;
  }
}

.key {
  margin: 0;
  font-weight: 500;
  color: rgba(var(--current-color), 0.4);
  text-transform: uppercase;
  font-size: 12px;
  font-family: var(--font-dm-mono);
  letter-spacing: 0.12em;
  line-height: 16px;
  position: absolute;
  right: 0px;
  top: -8px;
  transform: translate(0.12em, -100%);
}

.closeButton {
  border: 1px solid var(--current-shadow);
  background-color: rgba(var(--current-color), 0);
  width: 28px;
  height: 28px;
  min-height: 28px;
  position: relative;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  transition:
    border,
    background-color 0.2s ease;

  &:hover {
    border: 1px solid rgb(var(--current-color));
    background-color: rgba(var(--current-color), 0.1);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: rgb(var(--current-color));
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  .outline {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-width: 0px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }

  &:focus-visible .outline,
  &:global(.focused) .outline {
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-width: 1px;
    opacity: 1;
  }
}
