.wrapper {
  position: relative;
  height: var(--footer-height);
  min-height: var(--footer-height);
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: rgba(var(--current-color), 0.02);
  margin: 0 1rem;

  @include mobile {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .poweredBy {
    display: flex;
    flex-direction: column;

    @include mobile {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      justify-content: center;
    }

    @include desktop {
      flex-direction: row;
    }
  }

  .prices {
    display: flex;
    align-items: center;
    gap: 12px;

    @include mobile {
      position: absolute;
      left: 10px;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    @include desktop {
      flex-direction: row;
      gap: 8px;
    }

    .separator {
      @include mobile {
        display: none;
      }
    }
  }

  .social {
    display: none;
    position: absolute;
    right: 4px;

    @include mobile {
      display: flex;
      gap: 4px;

      svg {
        filter: drop-shadow(0 0 3.95px rgba(var(--current-color), 0.6));
      }
    }
  }
}
